In [1]:
import pandas as pd
import glob

In [2]:
# display all rows and columns in the dataframes
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [3]:
# merge the bike sharing demand csv files into one dataframe for Washington, D.C.
path = r'C:\Users\julia\Documents\Studium\Master\2. Semester\Master-Seminar Applied Econometrics - Data Science Basics\bike-sharing\datasets\bike-sharing'
all_files = glob.glob(path + "/*.csv")

df_list = []

for file in all_files:
    df_comp = pd.read_csv(file)
    df_list.append(df_comp)
    
df_bike = pd.concat(df_list, axis=0, ignore_index=True)

In [4]:
# get overview of dataframe
print(df_bike.shape)
df_bike.head()

(13820361, 9)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2389,2015-01-01 00:02:44,2015-01-01 00:42:33,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W01140,Casual
1,2394,2015-01-01 00:02:46,2015-01-01 00:42:41,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W00612,Casual
2,468,2015-01-01 00:04:32,2015-01-01 00:12:20,31204,20th & E St NW,31234,20th & O St NW / Dupont South,W01226,Member
3,348,2015-01-01 00:07:18,2015-01-01 00:13:06,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,W20216,Member
4,980,2015-01-01 00:09:39,2015-01-01 00:26:00,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,W21005,Casual

In [5]:
# manual creation of dataframe containing information on holidays in Washington, D.C.
# source for this is https://dchr.dc.gov/page/holiday-schedules-2018, https://dchr.dc.gov/page/holiday-schedules-2016-and-2017
# https://dchr.dc.gov/page/holiday-schedules-2014-and-2015

df_holiday = pd.DataFrame(columns=['date', 'holiday'])

dates = ['2018-01-01', '2018-01-15', '2018-02-19', '2018-04-16',
         '2018-05-28', '2018-07-04', '2018-09-03', '2018-10-08',
         '2018-11-12', '2018-11-22', '2018-12-25', '2017-01-02',
         '2017-01-16', '2017-01-20', '2017-02-20', '2017-04-17',
         '2017-05-29', '2017-07-04', '2017-09-04', '2017-10-09',
         '2017-11-10', '2017-11-23', '2017-12-25', '2016-01-01',
         '2016-01-18', '2016-02-15', '2016-04-15', '2016-05-30',
         '2016-07-04', '2016-09-05', '2016-10-10', '2016-11-11',
         '2016-11-24', '2016-12-26', '2015-01-01', '2015-01-19',
         '2015-02-16', '2015-04-16', '2015-05-25', '2015-07-03',
         '2015-09-07', '2015-10-12', '2015-11-11', '2015-11-26',
         '2015-12-25']

df_holiday['date'] = dates
df_holiday['holiday'] = 1
df_holiday.head()

         date  holiday
0  2018-01-01        1
1  2018-01-15        1
2  2018-02-19        1
3  2018-04-16        1
4  2018-05-28        1

In [6]:
# read in the weather data for Washington, D.C.
path = r'C:\Users\julia\Documents\Studium\Master\2. Semester\Master-Seminar Applied Econometrics - Data Science Basics\bike-sharing\datasets\weather-data'
all_files = glob.glob(path + "/*.csv")

df_list_weather = []

for file in all_files:
    df_comp_weather = pd.read_csv(file)
    df_list_weather.append(df_comp_weather)
    
df_weather = pd.concat(df_list_weather, axis=0, ignore_index=True)

C:\Users\julia\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7,11,15,25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\julia\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7,11,15,25,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
# number of rows and columns in weather dataframe
df_weather.shape

(136180, 30)

In [8]:
# get an idea of the datatypes on the weather dataframe
df_weather.dtypes

STATION             object
NAME                object
LATITUDE           float64
LONGITUDE          float64
ELEVATION          float64
DATE                object
AWND               float64
AWND_ATTRIBUTES     object
PRCP               float64
PRCP_ATTRIBUTES     object
TAVG               float64
TAVG_ATTRIBUTES     object
WT01               float64
WT01_ATTRIBUTES     object
WT02               float64
WT02_ATTRIBUTES     object
WT03               float64
WT03_ATTRIBUTES     object
WT04               float64
WT04_ATTRIBUTES     object
WT05               float64
WT05_ATTRIBUTES     object
WT06               float64
WT06_ATTRIBUTES     object
WT08               float64
WT08_ATTRIBUTES     object
WT09               float64
WT09_ATTRIBUTES     object
WT11               float64
WT11_ATTRIBUTES     object
dtype: object

In [9]:
df_weather.describe(include='all')

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,WT01,WT01_ATTRIBUTES,WT02,WT02_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT06,WT06_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT11,WT11_ATTRIBUTES
count,136180,136180,136180.000000,136180.000000,136180.000000,136180,5747.000000,5747,133548.000000,133548,4230.000000,4230,2220.0,2220,193.0,193,1070.0,1070,156.0,156,31.0,31,165.0,165,427.0,427,12.0,12,196.0,196
unique,180,179,NaN,NaN,NaN,1461,NaN,2,NaN,23,NaN,1,NaN,2,NaN,1,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,NaN,1,NaN,1
top,US1VAFX0064,"OLNEY 1.0 SE, MD US",NaN,NaN,NaN,2018-07-24,NaN,",,W",NaN,",,N",NaN,"H,,S",NaN,",,W",NaN,",,W",NaN,",,7",NaN,",,7",NaN,",,7",NaN,",,7",NaN,",,W",NaN,",,W",NaN,",,7"
freq,1461,1462,NaN,NaN,NaN,118,NaN,5746,NaN,106198,NaN,4230,NaN,1770,NaN,193,NaN,589,NaN,92,NaN,17,NaN,125,NaN,427,NaN,12,NaN,196
mean,NaN,NaN,38.970496,-77.000022,82.626917,NaN,3.253750,NaN,3.791555,NaN,14.145366,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
std,NaN,NaN,0.188301,0.256362,49.627015,NaN,1.550984,NaN,10.204822,NaN,9.712002,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
min,NaN,NaN,38.467400,-77.497598,0.000000,NaN,0.200000,NaN,0.000000,NaN,-12.900000,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
25%,NaN,NaN,38.851900,-77.204100,44.200000,NaN,2.100000,NaN,0.000000,NaN,6.200000,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
50%,NaN,NaN,38.990164,-77.028948,86.000000,NaN,3.000000,NaN,0.000000,NaN,14.700000,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
75%,NaN,NaN,39.114075,-76.784300,115.800000,NaN,4.100000,NaN,2.000000,NaN,23.100000,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
max,NaN,NaN,39.339729,-76.488006,248.100000,NaN,14.500000,NaN,240.500000,NaN,32.800000,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN

In [10]:
# show all available weather situation columns and create a list without the attribute columns
weathersit_list = list(df_weather.columns)[12:]
weathersit = [x for x in weathersit_list if len(x) < 5]
weathersit

['WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT08', 'WT09', 'WT11']

In [13]:
# create a new data frame that contains only average temperature, windspeed, precipitation and weathersituation
# per day across all stations in Washington, D.C.
var_list = ['TAVG', 'PRCP', 'AWND', weathersit]
df_avg_list = []

for var in var_list:
    if type(var) != list:
        data_avg_vars = df_weather.groupby('DATE')[var].mean()
        df_avg_vars = data_avg_vars.to_frame()
        df_avg_list.append(df_avg_vars)
    else:
        for sit in weathersit:
            data_wsit = df_weather.groupby('DATE')[sit].max()
            df_wsit = data_wsit.to_frame()
            df_avg_list.append(df_wsit)
            
df_weather_aggr = pd.concat(df_avg_list, axis=1)
df_weather_aggr

,TAVG,PRCP,AWND,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09,WT11
DATE,,,,,,,,,,,,
2015-01-01,-0.733333,0.000000,2.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,2.733333,0.000000,1.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-03,1.633333,2.548101,1.375000,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-01-04,8.600000,15.772619,4.750000,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-01-05,5.833333,2.194048,6.375000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-06,-3.666667,2.818072,1.775000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-07,-5.933333,2.493827,5.900000,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0
2015-01-08,-10.100000,0.049398,4.275000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0
2015-01-09,-2.333333,0.007229,4.750000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-01-10,-5.400000,0.000000,3.025000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-01-11,-5.033333,0.000000,1.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-12,1.733333,6.751852,1.425000,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN
2015-01-13,1.466667,12.884524,4.875000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-14,-3.033333,0.231868,3.175000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-01-15,-0.033333,0.067073,1.975000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-01-16,0.833333,0.000000,4.125000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-01-17,-0.433333,0.000000,3.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-18,2.033333,2.479012,2.125000,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2015-01-19,4.600000,9.186905,2.625000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-20,1.566667,0.006173,0.650000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-21,0.266667,0.534940,1.375000,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-01-22,2.466667,2.369231,3.025000,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-01-23,1.533333,1.609524,1.875000,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-01-24,2.466667,26.698901,4.100000,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-01-25,5.066667,0.716049,2.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-26,2.966667,2.372941,5.075000,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2015-01-27,-1.066667,4.736145,6.175000,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-01-28,-1.966667,0.175309,5.150000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-01-29,-2.566667,0.201333,2.450000,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
2015-01-30,2.333333,1.065432,6.850000,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-01-31,-4.333333,0.014103,4.300000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0
2015-02-01,-1.233333,0.176923,1.925000,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-02-02,3.133333,3.851111,5.175000,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-02-03,-2.800000,2.765169,3.650000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-02-04,1.500000,0.010000,2.950000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-05,1.900000,0.000000,6.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-02-06,-5.200000,0.000000,2.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-02-07,0.333333,0.000000,1.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-08,4.600000,0.000000,1.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-09,3.833333,0.234146,4.050000,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-02-10,0.800000,2.819101,5.350000,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
2015-02-11,1.200000,0.036145,2.775000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-12,1.966667,0.000000,5.500000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-02-13,-6.433333,0.013580,4.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-02-14,-2.900000,0.303896,4.925000,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0
2015-02-15,-9.000000,1.414815,9.925000,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0
2015-02-16,-11.333333,0.619737,3.000000,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0
2015-02-17,-7.566667,9.782927,2.125000,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
2015-02-18,-6.766667,0.162963,3.300000,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
2015-02-19,-8.533333,0.098750,7.000000,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN
2015-02-20,-12.100000,0.007792,3.825000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-21,-8.933333,2.764935,3.375000,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-02-22,2.533333,20.854217,1.200000,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-02-23,0.500000,0.012987,5.425000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-24,-8.200000,0.000000,2.750000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-25,-3.600000,0.000000,1.975000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-02-26,0.366667,2.473256,2.500000,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
2015-02-27,-1.133333,1.500000,3.500000,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
2015-02-28,-4.866667,0.000000,1.875000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-03-01,-3.766667,2.044304,1.833333,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-03-02,2.000000,11.819277,4.300000,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-03-03,-0.700000,0.455000,3.425000,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
2015-03-04,4.333333,4.712346,1.975000,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-03-05,1.766667,15.230952,4.750000,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN
2015-03-06,-6.533333,15.258537,2.575000,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
2015-03-07,-4.333333,0.000000,2.625000,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-03-08,6.166667,0.000000,2.100000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2015-03-09,6.633333,0.000000,1.050000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-03-10,5.466667,1.582278,1.075000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-11,10.433333,10.817978,2.150000,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-03-12,9.833333,0.122222,3.650000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-13,5.533333,0.038272,2.375000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-14,8.566667,11.814458,2.625000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-15,10.200000,5.932530,5.650000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-16,7.733333,0.009195,1.500000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-03-17,13.100000,0.003704,5.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-18,4.766667,0.000000,4.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-03-19,5.266667,0.000000,1.725000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-20,3.166667,7.549412,3.200000,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-03-21,5.466667,6.720930,2.200000,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2015-03-22,9.200000,0.003659,4.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-23,5.066667,0.000000,2.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-24,4.566667,0.000000,2.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-25,3.366667,0.054651,1.525000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-26,13.000000,1.408889,4.075000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-03-27,9.200000,19.907447,3.875000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-28,2.200000,1.578889,6.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-29,0.700000,0.000000,3.900000,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-03-30,8.866667,0.358065,4.375000,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2015-03-31,12.100000,0.162963,5.225000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-01,8.333333,0.755102,3.075000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-02,11.600000,0.036471,5.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-03,18.133333,0.758333,4.525000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-04,14.933333,3.861364,6.675000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
2015-04-05,10.600000,0.028049,4.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-04-06,14.600000,0.000000,3.925000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-07,18.166667,1.440404,3.025000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-08,10.133333,12.081000,4.250000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-04-09,7.100000,4.739000,3.350000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-04-10,9.466667,2.102083,2.275000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-04-11,15.200000,0.243182,4.450000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-12,12.233333,0.000000,2.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-13,16.300000,0.342697,4.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-14,15.866667,4.805208,2.700000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-04-15,13.966667,11.595050,2.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-16,14.966667,0.083529,3.250000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-17,18.400000,3.901010,2.275000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-04-18,20.233333,0.376667,1.725000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-19,17.066667,0.511494,5.975000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-20,18.333333,32.519626,4.575000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-21,16.800000,7.904808,4.200000,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
2015-04-22,13.233333,0.094505,4.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-23,10.033333,0.461224,5.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2015-04-24,9.200000,0.010989,5.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-25,8.233333,0.676744,2.175000,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2015-04-26,10.700000,6.284466,2.300000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-27,11.166667,0.010345,4.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-28,13.733333,0.053191,4.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-29,16.500000,0.000000,1.725000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,16.400000,0.613415,2.525000,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN
2015-05-01,13.766667,3.649000,2.950000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-02,15.600000,0.028235,1.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-03,18.700000,0.000000,1.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-04,20.600000,0.000000,3.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-05,22.533333,0.423529,2.400000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-06,21.066667,3.717347,2.550000,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN
2015-05-07,20.600000,2.102151,2.375000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-08,21.633333,0.003448,1.775000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-09,21.366667,0.040449,2.500000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-05-10,23.233333,0.010345,2.825000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-11,23.400000,0.082022,2.000000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-05-12,24.666667,0.264211,3.950000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-13,19.266667,0.003297,5.925000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-14,15.200000,0.000000,2.675000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-15,17.533333,0.000000,3.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-16,22.200000,0.974419,2.725000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-17,23.300000,12.118269,1.550000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-18,25.700000,2.923762,1.925000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-05-19,24.866667,29.226852,2.600000,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-05-20,20.333333,0.561111,5.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-21,13.833333,0.844211,2.575000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-05-22,15.866667,6.121359,4.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-23,17.166667,0.010000,2.650000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-24,18.700000,0.000000,2.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-25,23.033333,0.000000,4.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-26,24.066667,0.000000,3.925000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-27,25.033333,0.503333,3.150000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-28,25.466667,1.436364,2.125000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-29,24.800000,1.298990,3.175000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-30,25.466667,0.562921,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-05-31,26.033333,0.017442,4.275000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-01,25.800000,5.277000,3.050000,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
2015-06-02,18.266667,36.344037,4.125000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-03,14.933333,4.306731,3.775000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-04,15.633333,3.407921,3.600000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-05,17.100000,10.208000,1.850000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-06,21.500000,0.420430,3.275000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-07,21.700000,0.054945,3.675000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-08,22.600000,2.131111,4.475000,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN
2015-06-09,24.333333,15.595370,4.200000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
2015-06-10,23.633333,0.015385,2.500000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-11,25.966667,0.003333,2.475000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-12,28.233333,0.011628,3.325000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-13,27.100000,1.046739,2.200000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-14,27.900000,4.063000,1.725000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-15,26.900000,5.662376,2.500000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-16,27.966667,1.795960,3.525000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-17,25.266667,0.662921,2.100000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-18,24.433333,11.300943,2.225000,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN
2015-06-19,25.266667,13.734343,2.900000,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0
2015-06-20,26.033333,4.383158,2.850000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-21,26.733333,40.988350,3.550000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
2015-06-22,28.266667,0.060870,2.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-23,28.766667,3.648315,3.475000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
2015-06-24,24.033333,22.054369,3.100000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
2015-06-25,24.066667,1.316854,2.175000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-26,22.766667,13.294118,2.575000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0
2015-06-27,21.433333,11.643333,4.625000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-28,21.366667,44.865556,3.425000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
2015-06-29,21.766667,0.669880,2.825000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-06-30,24.333333,0.265169,3.575000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01,24.666667,14.990291,2.450000,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0
2015-07-02,22.533333,3.904167,1.525000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-03,21.766667,1.718889,1.850000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-04,22.866667,2.887097,1.450000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-05,23.400000,9.877174,1.500000,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-06,25.633333,1.648315,3.125000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-07,26.166667,8.212903,2.750000,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-08,26.866667,1.703371,2.700000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-09,26.933333,12.252083,2.875000,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-10,26.400000,1.529474,3.475000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-11,25.800000,3.236471,1.800000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-12,24.366667,1.097647,1.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-13,23.966667,1.363095,1.475000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-14,25.766667,3.105155,2.425000,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-15,25.666667,0.597849,4.300000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-16,23.033333,0.250562,2.675000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-17,23.100000,0.015294,3.050000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-18,26.066667,0.360241,2.750000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-19,28.966667,2.320213,2.100000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-20,29.966667,0.000000,2.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-21,28.733333,0.409195,2.025000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-22,25.900000,0.788298,3.425000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-23,24.433333,0.000000,2.275000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-24,24.333333,0.003371,2.175000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-25,25.333333,0.000000,2.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-26,26.400000,0.003529,3.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-27,26.233333,4.630000,2.325000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-28,27.033333,4.105495,1.525000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-29,26.466667,2.928409,2.350000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-30,27.233333,6.230108,2.650000,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-07-31,26.700000,8.468367,2.400000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-01,26.333333,0.003448,2.225000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-02,25.700000,0.059770,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-03,26.100000,0.000000,3.175000,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-08-04,27.600000,2.012360,2.700000,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN
2015-08-05,26.166667,3.905263,2.350000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-06,24.400000,0.060241,2.525000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-07,23.200000,1.841053,2.975000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-08,24.600000,0.065000,2.775000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-09,24.633333,0.000000,2.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-10,23.333333,4.155208,3.625000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-11,25.200000,4.978000,3.250000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-12,24.866667,1.702000,3.450000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-13,23.266667,0.000000,2.175000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-14,22.666667,0.000000,1.525000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-15,24.300000,0.000000,2.225000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-16,25.400000,0.000000,2.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-17,26.900000,0.122353,2.675000,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-08-18,26.266667,0.037363,2.300000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-08-19,26.433333,0.911579,3.650000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-08-20,26.000000,5.936000,3.075000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-08-21,24.166667,6.269608,3.200000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
2015-08-22,22.766667,0.014773,2.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-23,22.233333,0.000000,1.650000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-24,25.066667,1.003488,2.375000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-08-25,23.933333,10.205714,2.550000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-26,22.333333,0.006742,2.725000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-27,21.033333,0.000000,2.425000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-28,21.766667,0.000000,1.600000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-29,23.633333,0.000000,3.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-30,24.166667,0.000000,2.325000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-31,26.433333,0.006383,2.425000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-09-01,26.866667,0.003061,1.650000,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2015-09-02,27.166667,0.022581,1.525000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-09-03,26.933333,0.305051,1.750000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-09-04,26.966667,1.309091,2.850000,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
2015-09-05,25.366667,0.437000,3.275000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-09-06,23.733333,0.000000,1.375000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-09-07,24.066667,0.000000,2.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-26,15.266667,2.075789,4.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-27,14.533333,17.835238,2.350000,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-28,15.466667,1.359794,3.750000,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-29,11.033333,0.475789,6.025000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-30,11.666667,0.003371,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2018-05-01,17.766667,0.000000,2.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-02,21.700000,0.000000,2.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-03,24.966667,0.000000,3.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-04,25.966667,0.048276,3.675000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-05,21.666667,0.750526,2.850000,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-06,16.500000,1.037500,3.125000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-07,17.900000,0.107692,2.925000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-08,18.733333,0.003261,2.675000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-09,18.700000,0.000000,2.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-10,20.266667,0.046067,3.200000,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN

In [14]:
# reset index and change column names
df_weather_aggr.reset_index(inplace=True)

df_weather_aggr = df_weather_aggr.rename(columns={'DATE': 'date', 'TAVG': 'temp', 'PRCP': 'precip', 'AWND': 'wind',
                        'WT01': 'wt_fog', 'WT02': 'wt_heavy_fog', 'WT03': 'wt_thunder', 'WT04': 'wt_sleet', 
                        'WT05': 'wt_hail', 'WT06': 'wt_glaze', 'WT08':'wt_haze', 'WT09':'wt_drift_snow',
                        'WT11': 'wt_high_wind'})
df_weather_aggr.head()

,date,temp,precip,wind,wt_fog,wt_heavy_fog,wt_thunder,wt_sleet,wt_hail,wt_glaze,wt_haze,wt_drift_snow,wt_high_wind
0,2015-01-01,-0.733333,0.000000,2.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,2.733333,0.000000,1.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-03,1.633333,2.548101,1.375,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN
3,2015-01-04,8.600000,15.772619,4.750,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,2015-01-05,5.833333,2.194048,6.375,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN